<form action='/sessions' method='post' >
  <label>Username:</label>
  <input type='text' name='name' placeholder='John Doe, e.g.' />

  <label>Password:</label>
  <input type='password' name='password' />

  <input type='submit' name='submit' value='Log In' />
</form>